<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>e-commerce</title>
  </head>
  <body>
    <header>
      <h1>Welcome to e-commerce</h1>
      <p>Your one-stop destination for exquisite products</p>
    </header>

    <nav>
      <a href="http://127.0.0.1:5500/View/store.html">products</a>
      <a href="http://127.0.0.1:5500/View/store.html?category=men's clothing"
        >men's clothing</a
      >
      <a href="http://127.0.0.1:5500/View/store.html?category=jewelery"
        >jewelery</a
      >
      <a href="http://127.0.0.1:5500/View/store.html?category=electronics"
        >electronics</a
      >
      <a href="http://127.0.0.1:5500/View/store.html?category=women's clothing"
        >women's clothing</a
      >
    </nav>

    <section class="container" id="container">
      <div id="home">
        <h2>Explore Our Products</h2>
        <p>
          Welcome to our online store. Discover a wide range of beautifully
          crafted products for your needs.
        </p>
      </div>

      <div id="on-sale">
        <h2>Items on Sale</h2>
        <ul>
          <li>
            <h3>Mens Cotton Jacket</h3>
            <p><strong>On Sale: $55.99 </strong></p>
          </li>
          <li>
            <h3>White Gold Plated Princess</h3>
            <p><strong>On Sale: $9.99</strong></p>
          </li>
          <!-- Add more items as needed -->
        </ul>
      </div>
    </section>

    <footer>&copy; 2024 e-commerce. All rights reserved.</footer>

    <script src="../JavaScript/script.js"></script>
  </body>
</html>
