<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/itemDetails.css" />
    <script defer src="../JavaScript/itemDetails.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Item Details</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="image-container" id="firstHalf"></div>
        <div class="details-container" id="secondHalf"></div>
      </div>
      <button id="buyButton">buy</button>
      <button
        type="button"
        onclick="location.href = `../View/store.html?category=all`"
      >
        Back
      </button>
    </div>
  </body>
</html>
