<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/store.css" />
    <script defer src="../JavaScript/store.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>e-commerce</title>
  </head>
  <body>
    <header>
      <button onclick="ReloadPage()" class="reload">
        <h1>e-commerce</h1>
      </button>
      <div>
        <!-- <form id="searchForm" class="searchForm">
          <input
            type="text"
            name="search"
            id="searchInput"
            placeholder="Search products..."
          />
          <button type="button" onclick="Search()">Search</button>
        </form> -->
      </div>
    </header>

    <div class="container">
      <aside class="sidebar">
        <!-- Sidebar content goes here -->
        <h2>Category</h2>
        <ul>
          <li><a href="#">all</a></li>
          <li><a href="#">electronics</a></li>
          <li><a href="#">jewelery</a></li>
          <li><a href="#">men's clothing</a></li>
          <li><a href="#">women's clothing</a></li>
        </ul>
      </aside>

      <section id="products"></section>
    </div>

    <footer>
      <p>&copy; 2024 Your Clothing Store. All rights reserved.</p>
    </footer>
  </body>
</html>
