<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/store.css" />
    <script defer src="../JavaScript/store.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>e-commerce</title>
  </head>
  <body>
    <header>
      <button onclick="location.href = `./index.html`" class="reload">
        <h1>e-commerce</h1>
      </button>
    </header>

    <div class="container">
      <aside class="sidebar">
        <!-- Sidebar content -->
        <h2>Category</h2>
        <ul>
          <li>
            <a href="http://127.0.0.1:5500/View/store.html?category=all">all</a>
          </li>
          <li>
            <a
              href="http://127.0.0.1:5500/View/store.html?category=men's clothing"
              >electronics</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/View/store.html?category=jewelery"
              >jewelery</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/View/store.html?category=electronics"
              >men's clothing</a
            >
          </li>
          <li>
            <a
              href="http://127.0.0.1:5500/View/store.html?category=women's clothing"
              >women's clothing</a
            >
          </li>
        </ul>
        <h2>Price</h2>
        <ul>
          <li>
            <label for="minPriceInput" class="minmax">min</label>
            <input
              type="number"
              name="min price"
              placeholder="min price"
              id="minPriceInput"
            />
          </li>
          <li>
            <label for="maxPriceInput" class="minmax">max</label>
            <input
              type="number"
              name="max price"
              placeholder="max price"
              id="maxPriceInput"
            />
          </li>
          <li>
            <button type="button" onclick="SearchPrice()">search</button>
          </li>
        </ul>
      </aside>

      <section id="products"></section>
    </div>

    <footer>
      <p>&copy; 2024 Your Clothing Store. All rights reserved.</p>
    </footer>
  </body>
</html>
